/*Congratulations and hidden*/

.hidden {
    display: none;
}

.congrats img {
    position: relative;
    padding-left: 70px;
    padding-top: 70px;
}

.congrats h2 {
    position: absolute;
    padding-left: 70px;
    padding-top: 29px;
    font-size: 32px;
    font-family: georgia;
    font-weight: 500;
}


.congrats p {
    padding-top: 71px;
    margin-bottom: 49px;
}